<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

<!-- Servlets -->
  <servlet>
    <servlet-name>powerOutageServlet</servlet-name>
    <servlet-class>com.power.outage.locator.server.PowerOutageServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>powerOutageServlet</servlet-name>
    <url-pattern>/power_outage_locator/PowerOutageAsyncService</url-pattern>
  </servlet-mapping>
  
  
    <servlet>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>com.power.outage.locator.server.AdminServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/power_outage_locator_admin/AdminAsyncService</url-pattern>
  </servlet-mapping>

  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Home.html</welcome-file>
  </welcome-file-list>

</web-app>
