table {
	border: solid;
	width: 100%;
	height: 100%;
}

td {
	border: solid;
}

.rightAlign {
	text-align: right;
}

.navMenu {
	
}

.majorRow {
	height: 500px;
	width: 80%
}

.information {
	height: 200px;
}

.footer {
	
}